<header>
    <%- include('./nav')%>
    <section classs="section-header">
        <div class="header-content">
            <h1> A la carta travel </h1>
            <div class="header-flex">
                <h2 class="h2-header">Elige tu propia aventura</h2>
                <a href="#informacion"> <img class="flecha-abajo" src="../../public/Img/logo-alc.svg"
                        alt="abajo-boton"></a>
            </div>
            <div class="container-redes ">
                <ul class="content-redes">
                    <li class="redes ">
                        <a href="https://www.instagram.com/alcexperiencias/?hl=es"><img class="img"
                                src="../../public/Img/logo-instegram.svg" alt="Ir a Instegram"></a>
                    </li>
                    <li class="redes">
                        <a href="https://www.instagram.com/?hl=es"><img class="img" src="../../public/Img/logo-facebook.svg"
                                alt="Ir a Facebook"></a>
                    </li>
                    <li class="redes">
                        <a href="https://www.instagram.com/?hl=es"><img class="img" src="../../public/Img/logo-tiktok.svg"
                                alt="Ir a Tiktok"></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</header>