<nav class="main-nav">
    <div class=" container-nav ">
        <div class="list-container-logo">
            <img class="img-logo" src="../../public/Img/alc-logo-1.svg" alt="logo">
        </div>
        <div class="list-container">
            <div>
              <ul class="main-nav-ul-menu">
                <li ><a class="menu" href="#">Pagina Principal</a></li>
                <li ><a class="menu" href="#Conocenos">Conocenos</a></li>
                <li ><a class="menu" href="#Experiencias">Experiencias</a></li>
                <li ><a class="menu" href="#Contacto">Contacto</a></li>
                <li><a  class="menu" href="./administrador">Administrador</a></li>
                <ul class="main-nav-ul-menu language-content">
                  <li><a class="menu language" href="#">ES</a></li>
                  <li><a class="menu language" href="#">EN</a></li>
                </ul>
              </ul>
            </div>
        </div>
    </div>
</nav>