<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/metadata') %>
    <link rel="icon" href="../../Img/logo-alc.jpeg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Merienda:wght@400;700&family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/pagina-pricipal.css">
    <link rel="stylesheet" href="../../css/provincias.css">
    <link rel="stylesheet" href="../../css/modal.css">
    <title>ALCTravel</title>
</head>
<body>   
    <header>
        <%- include('./nav')%>
        <section classs="section-header">
            <div class="header-content">
                <h1> Diseña tu viaje </h1>
                <div class="header-flex">
                    <h5 class="h2-header">Tu viejes</h5>
                    <a href="#viajes-guardados"> <img class="flecha-abajo" src="Img/Avion-boton-header.svg" alt="abajo-boton"></a> 
                </div>
                <div class="container-redes ">
                  <ul class="content-redes">
                      <li class="redes ">
                          <a  href="https://www.instagram.com/alcexperiencias/?hl=es"><img class="img" src="Img/logo-instegram.svg" alt="Ir a Instegram"></a>
                      </li>
                      <li class="redes">
                          <a  href="https://www.instagram.com/?hl=es"><img class="img" src="Img/logo-facebook.svg" alt="Ir a Facebook"></a>
                      </li>
                      <li class="redes">
                          <a  href="https://www.instagram.com/?hl=es"><img class="img" src="Img/logo-tiktok.svg" alt="Ir a Tiktok"></a>
                      </li>
                  </ul>
              </div>
            </div>
        </section>
    </header>
    <main>
        <section class="section-destino">
            <div class="destino-title-content">
                <!-- <img class="vector-vta" src="img/vta-vector.svg" alt="vivi tu aventura"> -->
                <h2 class= "title-destino">Noroeste Argentino</h2>
                <p class="p-destinos">¡Cliquia la provincia y arma el paquete como a vos te guste en la Región Noroeste!</p>
                <img src="/Img/llama-modal" alt="llama-modal">
            </div>
            <div class="destino-content">
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Catamarca</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Jujuy</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>La Rioja</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Salta</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Santiago del Estero</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Tucuman</p>
                </div>
            </div>
        </section>
        <section class="section-destino">
            <div class="destino-title-content">
                <!-- <img class="vector-vta" src="img/vta-vector.svg" alt="vivi tu aventura"> -->
                <h2 class= "title-destino">Cuyo</h2>
                <p class="p-destinos">¡Cliquia la provincia y arma el paquete como a vos te guste en la Región Cuyo!</p>
                <img src="/Img/llama-modal" alt="llama-modal">
            </div>
            <div class="destino-content">
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Mendoza</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>San Juan</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>San Luis</p>
                </div>
            </div>
        </section>
        <section class="section-destino">
            <div class="destino-title-content">
                <!-- <img class="vector-vta" src="img/vta-vector.svg" alt="vivi tu aventura"> -->
                <h2 class= "title-destino">Litoral</h2>
                <p class="p-destinos">¡Cliquia la provincia y arma el paquete como a vos te guste en la Región Litoral!</p>
                <img src="/Img/llama-modal" alt="llama-modal">
            </div>
            <div class="destino-content">
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Chaco</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Correintes</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Entre Rios</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Formosa</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Misiones</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Santa Fé</p>
                </div>
            </div>
        </section>
        <section class="section-destino">
            <div class="destino-title-content">
                <!-- <img class="vector-vta" src="img/vta-vector.svg" alt="vivi tu aventura"> -->
                <h2 class= "title-destino">Patagonia</h2>
                <p class="p-destinos">¡Cliquia la provincia y arma el paquete como a vos te guste en la Región de la Patagonia!</p>
                <img src="/Img/llama-modal" alt="llama-modal">
            </div>
            <div class="destino-content">
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Chubut</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Neuquén</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Rio Negro</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Santa Cruz</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Tierra del fuego</p>
                </div>
            </div>
        </section>
        <section class="section-destino">
            <div class="destino-title-content">
                <!-- <img class="vector-vta" src="img/vta-vector.svg" alt="vivi tu aventura"> -->
                <h2 class= "title-destino">Buenos Aires</h2>
                <p class="p-destinos">¡Cliquia la Cuidad y arma el paquete como a vos te guste en Buenos Aires!</p>
                <img src="/Img/llama-modal" alt="llama-modal">
            </div>
            <div class="destino-content">
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Costa atlantica</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Cuidad de Buenos Aires</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Gran Buenos Aires</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Sierra de la Ventana</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Tandil</p>
                </div>
            </div>
        </section>
        <section class="section-destino">
            <div class="destino-title-content">
                <!-- <img class="vector-vta" src="img/vta-vector.svg" alt="vivi tu aventura"> -->
                <h2 class= "title-destino">Cordoba</h2>
                <p class="p-destinos">¡Cliquia la Cuidad y arma el paquete como a vos te guste en la provincia de Cordoba!</p>
                <img src="/Img/llama-modal" alt="llama-modal">
            </div>
            <div class="destino-content">
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Ansenuza</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Cordoba Capital</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Cordoba Norte</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Cordoba Noroeste</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Paravachasca</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Sierra Chica</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Sierras del Sur</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Valle de Calamuchita</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Valle de la Punilla</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Valle de la Traslasierras</p>
                </div>
                <div class="destino-card-content">
                    <img src="" alt="">
                    <p>Otros Destinos</p>
                </div>
            </div>
        </section>
    </main>
    <footer class=" footer ">
        <%- include('../partials/footer')%>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</body>
</html>
